<div class="post-wrap">
  <div class="title-category">
    <h3 class="post-title">{{post.title}}</h3>
    <h5 class="post-category">{{post.category}}</h5>
  </div>
  <div class="image-copy">
    <div class="image-box">
      <img class="post-image" src="{{post.image}}" alt="{{post.title}}">
    </div>
    <div class="post-body-copy">
      <p>{{post.body}}</p>
    </div>
  </div>
</div>
